@font-face {
  font-family: "Gilroy-Black";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Bold";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Light";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #000;
}

.page {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 190px;
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  max-width: 21.37px;
  margin-right: 22px;
}

.socials__link:last-child {
  margin-right: 0;
}

.socials__link img {
  display: block;
  max-width: 100%;
}

.hero {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__wrapper {
  position: relative;
  min-height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__images {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero__img_wheel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform-origin: 68.5% 50%;
      -ms-transform-origin: 68.5% 50%;
          transform-origin: 68.5% 50%;
  -webkit-animation: wheelRotate 20s ease infinite;
          animation: wheelRotate 20s ease infinite;
}

.hero__img_wheel img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes wheelRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes wheelRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.hero__img_girl {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 697px;
  width: 100%;
  z-index: 3;
}

.hero__img_girl img {
  display: block;
  max-width: 100%;
}

.hero__img_smoke {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.hero__img_smoke img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__img_smash {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero__img_smash img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__content {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
  max-width: 500px;
  width: 100%;
  font-style: italic;
  font-family: "Gilroy-Black", sans-serif;
}

.hero__text {
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  margin-bottom: 40px;
}

.hero__text-line_1 {
  font-size: 43px;
  line-height: 52px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #54E076;
  font-family: "Gilroy-Bold", sans-serif;
  text-shadow: 0px 4px 10px rgba(106, 234, 138, 0.4);
}

.hero__text-line_2 {
  max-width: 470px;
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);
  margin-left: -25px;
}

.hero__text-line_2 img {
  display: block;
  max-width: 100%;
}

.hero__text-line_3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #54E076;
  font-family: "Gilroy-Bold", sans-serif;
  text-shadow: 0px 4px 10px rgba(120, 241, 151, 0.2);
}

.hero__content-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
}

.hero__btn {
  margin-right: 18px;
}

.hero__info {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
  padding-left: 30px;
  position: relative;
  font-family: "Gilroy-Black", sans-serif;
  opacity: .7;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}

.hero__info::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 29px;
  height: 20px;
  background-image: url(../img/arrows-right.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__info:hover {
  opacity: 1;
}

.hero__logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hero__logos-item_1 {
  max-width: 210px;
  margin-right: 27px;
}

.hero__logos-item_1 img {
  max-width: 100%;
  display: block;
}

.hero__logos-item_2 {
  max-width: 170px;
  margin-top: -5px;
}

.hero__logos-item_2 img {
  max-width: 100%;
  display: block;
}

.btn_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
  max-width: 305px;
  width: 100%;
  height: 54px;
  font-size: 23px;
  line-height: 29px;
  color: #fff;
  font-family: "Gilroy-Black", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#FF0000), color-stop(103.96%, #8E0B0B));
  background: -o-linear-gradient(left, #FF0000 0%, #8E0B0B 103.96%);
  background: linear-gradient(90deg, #FF0000 0%, #8E0B0B 103.96%);
  -webkit-box-shadow: 0px 2.89655px 25px rgba(248, 1, 1, 0.5);
          box-shadow: 0px 2.89655px 25px rgba(248, 1, 1, 0.5);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(269.17deg, rgba(255, 255, 255, 0.7) -13.4%, rgba(255, 255, 255, 0) 99.6%);
}

.btn_main:hover {
  -webkit-box-shadow: 0px 2.89655px 25px rgba(248, 1, 1, 0.5);
          box-shadow: 0px 2.89655px 25px rgba(248, 1, 1, 0.5);
}