.header {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  overflow: hidden;
  z-index: 3;

  @media (max-width: 1366px) and (max-height: 700px) {
    top: 20px;
  }
  @media (max-width: 639px) {
    top: 20px;
  }
  // .header__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    max-width: 190px;
    img {
      display: block;
      max-width: 100%;
    }

    @media (max-width: 639px) {
      max-width: 110px;
    }
  }

  // .header__socials

  &__socials {
  }
}
.socials {
  display: flex;
  align-items: center;
  // .socials__link

  &__link {
    max-width: 21.37px;
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
    img {
      display: block;
      max-width: 100%;
    }

    @media (max-width: 639px) {
      max-width: 16px;
    }
  }
}
