.hero {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  // .hero__wrapper

  &__wrapper {
    position: relative;
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  // .hero__images

  &__images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // .hero__img

  &__img {

    // .hero__img_wheel

    &_wheel {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform-origin: 68.5% 50%;
      animation: wheelRotate 20s ease infinite;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    @keyframes wheelRotate {
      0%{
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(360deg);
      }
      100%{
        transform: rotate(0);
      }
    }
    // .hero__img_girl

    &_girl {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 697px;
      width: 100%;
      z-index: 3;
      img {
        display:block;
        max-width: 100%;
      }
    }

    // .hero__img_smoke

    &_smoke {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        object-fit: contain;
      }
    }

    // .hero__img_smash

    &_smash {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  // .hero__content

  &__content {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .hero__title

  &__title {
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
    max-width: 500px;
    width: 100%;
    font-style: italic;
    font-family: "Gilroy-Black", sans-serif;
  }

  // .hero__text

  &__text {
    transform: skew(-10deg);
    margin-bottom: 40px;
  }

  // .hero__text-line

  &__text-line {
    &_1 {
      font-size: 43px;
      line-height: 52px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #54E076;
      font-family: "Gilroy-Bold", sans-serif;
      text-shadow: 0px 4px 10px rgba(106, 234, 138, 0.4);
    }
    &_2 {
      max-width: 470px;
      transform: skew(10deg);
      margin-left: -25px;
      img {
        display: block;
        max-width: 100%;
      }
    }
    &_3 {
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #54E076;
      font-family: "Gilroy-Bold", sans-serif;
      text-shadow: 0px 4px 10px rgba(120, 241, 151, 0.2);
    }
  }

  // .hero__content-box

  &__content-box {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
  }

  // .hero__btn

  &__btn {
    margin-right: 18px;
  }

  // .hero__info

  &__info {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    padding-left: 30px;
    position: relative;
    font-family: "Gilroy-Black", sans-serif;
    opacity: .7;
    transition: all .4s ease;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -3px;
      width: 29px;
      height: 20px;
      background-image: url(../img/arrows-right.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover {
      opacity: 1;
    }
  }

  // .hero__logos

  &__logos {
    display: flex;
  }

  // .hero__logos-item

  &__logos-item {

    // .hero__logos-item_1

    &_1 {
      max-width: 210px;
      margin-right: 27px;
      img {
        max-width: 100%;
        display: block;
      }
    }

    // .hero__logos-item_2

    &_2 {
      max-width: 170px;
      margin-top: -5px;
      img {
        max-width: 100%;
        display: block;
      }
    }
  }
}
.btn {

  // .btn_main

  &_main {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-10deg);
    max-width: 305px;
    width: 100%;
    height: 54px;
    font-size: 23px;
    line-height: 29px;
    color: #fff;
    font-family: "Gilroy-Black", sans-serif;
    background: linear-gradient(90deg, #FF0000 0%, #8E0B0B 103.96%);
    box-shadow: 0px 2.89655px 25px rgba(248, 1, 1, 0.5);
    transition: all .3s ease;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(269.17deg, rgba(255, 255, 255, 0.7) -13.4%, rgba(255, 255, 255, 0) 99.6%);



    &:hover {
      box-shadow: 0px 2.89655px 25px rgba(248, 1, 1, 0.5);
    }
  }
}
