
.modal-info {



		// .modal-info__wrapper

		&__wrapper {

		}

		// .modal-info__close

		&__close {

		}

		// .modal-info__content

		&__content {

		}

		// .modal-info__title

		&__title {

		}

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(6, 6, 6, 0.3);
  backdrop-filter: blur(9px);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.modal-info {
  transition: all .3s ease;
  bottom: 0;
  background-color: #fff;
  width: 900px;
  height: 65%;
  z-index: 11;
  position: relative;

  @media (max-width: 1024px) {
    width: 702px;
    height: 80%;
    margin: 0 33px;
  }
  @media (max-width: 767px) {
    margin: 0 15px;
    height: 90%;
  }
  
  // .modal-info__wrapper

  &__wrapper {
    overflow: hidden;
    height: 98%;
    padding: 31px 0 6px;
  }

  // .modal-info__close

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    img {
      max-width: 100%;
      display: block;
    }
    @media (max-width: 640px) {
      width: 20px;
      height: 22px;
      top: -10px;
      right: -10px;
    }
  }

  // .modal-info__content

  &__content {
    overflow-y: auto;
    height: 100%;
    padding: 20px 30px 30px 55px;
    margin-right: 25px;
    scrollbar-width: thin;
    scrollbar-color: #129A48 #C4C4C4;
    &::-webkit-scrollbar {
      background-color: #C4C4C4;
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #129A48;
    }
    @media (max-width: 767px) {
      margin-right: 11px;
      padding: 0 25px 20px 22px;
    }
  }

  // .modal-info__hero

  &__hero {
    font-size: 18px;
    line-height: 21px;
    font-style: italic;
    color: #009A17;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: "SFProDisplay-Bold", sans-serif;
  }

  // .modal-info__title

  &__title {
    font-size: 16px;
    line-height: 21px;
    font-family: "SFProDisplay-Bold", sans-serif;
    margin-bottom: 20px;
  }

  // .modal-info__list

  &__list {
    font-size: 16px;
    line-height: 19px;
    font-family: "SFProDisplay-Light", sans-serif;
  }

  // .modal-info__list-item

  &__list-item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }

    // .modal-info__list-item_1

    &_1 {
    }

    // .modal-info__list-item_2

    &_2 {
    }

    // .modal-info__list-item_3

    &_3 {
    }

    // .modal-info__list-item_4

    &_4 {
      font-family: "SFProDisplay-Semibold", sans-serif;
      color: #009A17;
    }

    // .modal-info__list-item_5

    &_5 {
    }

    // .modal-info__list-item_6

    &_6 {
    }

    // .modal-info__list-item_7

    &_7 {
    }

    // .modal-info__list-item_8

    &_8 {
    }

    // .modal-info__list-item_9

    &_9 {
    }

    // .modal-info__list-item_10

    &_10 {
      font-family: "SFProDisplay-Semibold", sans-serif;
      color: #009A17;
    }

    // .modal-info__list-item_11

    &_11 {
    }

    // .modal-info__list-item_12

    &_12 {
    }

    // .modal-info__list-item_13

    &_13 {
    }

    // .modal-info__list-item_14

    &_14 {
      font-style: italic;
      font-size: 14px;
      line-height: 16px;
    }
  }

  // .modal-info__list-num

  &__list-num {
    font-family: "SFProDisplay-Semibold", sans-serif;
    color: #009A17;
  }

  // .modal-info__btn

  &__btn {
    margin: 50px auto 20px auto;
  }
}
